{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true href="/"}}
      {{paper-icon "school"}}
    {{/paper-button}}
    <h2>
      Why JEE (Advanced) is difficult?
    </h2>&nbsp;|&nbsp;
    <h6>Disclaimer: This is a personal observation of the exam</h6>
    <span class="flex"></span>
    |&nbsp;<h6>Images courtesy <a href="https://freesvg.org" target="_blank">https://freesvg.org</a></h6>
    &nbsp;|&nbsp;<h6>Sources of questions: <a href="http://cbse.nic.in/curric~1/qpms2019/qp12-2019.html" target="_blank">CBSE</a>
    and <a href="http://www.jeeadv.ac.in/pastqp.php" target="_blank">JEE</a></h6>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}